/* start table buttons (ie. AddToMix) in tableColumns */
tr:hover .visibleOnHover {
  visibility: visible;
}

.visibleOnHover {
  visibility: hidden;
}

.visible {
  visibility: visible;
}
/* end table buttons */

/* start playhead customization */
.wavesurfer-playhead {
  width: 0;
  height: 0;
  margin-left: 3px;
  border-style: solid;
  border-width: 8px 8px 0 8px;
  border-color: #0492f79e transparent transparent transparent;
}

.wavesurfer-playhead svg {
  display: none;
}

/* playhead {
  display: none !important;
} */

/* end playhead customization */
