**/node_modules/
**/.cache/
**/build/
**/dist/
*.log
todo.md
.env

# yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# cloudflare
.wrangler/
functions/
