body {
  margin: 0;
  min-height: 100vh;
}

/* not handled by tailwind */
.bg-clip-text {
  -webkit-background-clip: text;
  background-clip: text;
}

#root, #root > div{
  height: 100vh;
}

/* wavesurfer ui tweaks */
.wavesurfer-playhead {
  width: 0;
  height: 0;
  margin-left: '4px';
  border-style: 'solid';
  border-width: '7px 7px 0 7px';
  border-color: 'rgba(4, 146, 247, 0.757) transparent transparent transparent';
}

.wavesurfer-playhead svg, .wavesurfer-playhead div {
  display: 'none';
}